.bottom-bar {
	position: fixed;
}

.item {
    width: 25%;
    height: 150px;
    background: #D8D6D2;
    margin: 5px;
}
.item.w1 {
    width: 35%;
    height: 30px;
    background: #D52600;
    margin: 5px;
}
.item.w2 {
    width: 20%;
    height: 100px;
    background: #AA22CC;
    margin: 5px;
}
.item.w3 {
    width: 20%;
    height: 100px;
    background: #2C2B2A;
    margin: 5px;
}
.item.w4 {
    width: 15%;
    height: 60px;
    background: #4679BD;
    margin: 5px;
}
#curator {
	height: 60%;
}