/* Foundation */
@import "settings";
@import "foundation";
@import "foundation-icons";

/* Mindcloud globals */
@import "mindcloud";

/* Pages */
@import "splash";
@import "dashboard";
@import "problem";

// fonts
//@import url(http://openfontlibrary.org/face/unique);
//@import url(http://openfontlibrary.org/face/gen-light);

@font-face {
		font-family: $primary-font;
			src: url('/assets/fonts/GenW-Light.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

body{
	min-width: 350px;
}

/* Alert wrapper */
#alert-wrapper{
	position: fixed;
	width: 30%;
	z-index: 55;
	text-align: center;
}

#alert-wrapper .alert-box{
	margin: 1.25rem 0;
}

#alert-wrapper span{
	cursor: pointer;
}

/* Topbar */
.top-bar {

	// box shadow for seperation
	box-shadow: #333 0px 1px 6px;
	
	a, li {
		transition: background-color 300ms ease-out;
	}

	.hover{
		background-color: #555555 !important;
  		background: $primary-color-light !important;
	}

	#notification-dropdown{
		//color: $white;

		@media #{$medium-up} { 
			width: 300px;
		}

		li a{
			white-space: normal;
			line-height: 1.5rem;
			border-top: 1px solid $primary-color-dark-2;
			padding-top: .5rem;
			padding-bottom: 1.3rem;
		}

		p{
			margin-bottom: 0 !important;
			font-size: .8rem !important;
		}

		.time{
			float: right;
			font-size: .6rem;
			padding-top: .6rem;
		}
	}

}

/* other */

#main {

	h1 {
		color: white;
	}

	.accordion {
		padding: 2%;
	}
}